---
import MainLayout from "../../layouts/MainLayout.astro";
import Title from "../../components/shared/title.astro";
import { Counter } from "../../components/Counter";

---

<MainLayout title="Favoritos">
<Title>Favoritos</Title>
</MainLayout>