---
import MainLayout from "../../layouts/MainLayout.astro";
import Title from "../../components/shared/title.astro";
import { Counter } from "../../components/Counter";
import {FavoritePokemons} from '../../components/pokemons/FavoritePokemon';

---

<MainLayout title="Favoritos">
<Title>Favoritos</Title>

<FavoritePokemons/>

</MainLayout>